{% extends "base.html" %} {% load static %} {% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-login my-5">
        <div class="card-body">
          <h2 class="card-title text-center">Login</h2>
          <form class="form-login" method="post">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group">
              {{ field.errors }} {{ field }}
            </div>
            {% endfor %}
            <div class="form-actions">
              <button type="submit" class="btn btn-teal btn-block">
                Iniciar sesión
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
