{% extends "base.html" %} {% load static %} {% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-login my-5">
        <div class="card-body">
            <img src="{% static 'img/logo-jetty-green.png' %}" width="150" class="rounded mx-auto d-block" alt="Jetty Logo">
            <h6 class="card-title text-center">Buen Viaje. Siempre.</h6>
          <form class="form-login mt-5" method="post">
            {% if show_alert %}
            <div class="alert alert-danger" role="alert">
              {{ message }}
            </div>
            {% endif %}
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group">
              {{ field.errors }} {{ field }}
            </div>
            {% endfor %}
            <div class="form-actions">
              <button type="submit" class="btn btn-teal btn-block py-2">
                Iniciar sesión
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
